<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481469714836-6a177e20nqq6bfpioimic2ppr855vm8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481469714836-6a177e20nqq6bfpioimic2ppr855vm8t</string>
	<key>API_KEY</key>
	<string>AIzaSyCe2ZBngSGgKN0Zgs5FkfZEov1D3o3tlJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>481469714836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernandomoreira.MapApp</string>
	<key>PROJECT_ID</key>
	<string>mapapp-b9491</string>
	<key>STORAGE_BUCKET</key>
	<string>mapapp-b9491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481469714836:ios:73f6bda1fc2227487cff81</string>
</dict>
</plist>